#banner {
  height: 300px;
}

#banner > img {
  width: 100%;
}

#body > h1 {
  margin-top: 16px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.product-card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px; /* 이미지 둥글게 */
  overflow: hidden; /* 이미지가 모서리 덮는 경우 제거 */
}

.product-img {
  width: 100%;
  height: 210px;
}

.product-contents {
  display: flex;
  flex-direction: column; /* 상품명, 가격 수직으로 */
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-avatar {
  width: 24px;
}

.product-link {
  color: inherit;
  text-decoration: none;
}
